
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: white;
    color:black;
    padding: 10px 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    padding: 10px 10% 20px 10%;
}
nav .img{
    position: relative;
    right: 90px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: relative;
    left: 100px;
}

li {
    text-decoration: none;
    display: inline;
    padding: 0 10px;
    color: #222;
}

.nav-bar a {
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 0.85em;
}

.pseudo-button { 
    border: 1px solid #EFEFF1;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight:400;
}

.pseudo-button:hover {
    background-color: #ECF4FD;
}

.download-svg {
    width: 15px;
    height: 15px;
}
.hero >*{
    position: relative;
    left: 20px;
}
.hero {
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2024/03/06/VRBO_OOH_TRUST_LISBON_HOUSE_NATACHA_WIDE_BACKDOOR_HUMM_0004.jpg") no-repeat center center/cover;
    background-color: #00000090;
    background-blend-mode:color-burn;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    opacity: 0.9;

}

.person-svg, .location-svg, .date-svg {
    width: 30px;
    height: 25px;
    margin-left: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 10px;
}

.hero-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    color: black;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
}

.hero-content h1 {
    font-size: 3.5em;
}

.hero-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black 1px solid;
    width: 350px;
    border-radius: 8px;
}

.hero-bar-item p {
    font-size: 0.85em;
}

.hero-bar-item h3 {
    font-size: 0.9em;
    font-weight: 500;
}

.hero-bar button {
    background-color: #191E3B;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 50px;
    font-weight: 500;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 10%;
}
.section-one,.section-two, .section-three{
    position: relative;
    right: 50px;
}

.section-one h1, .section-two h1 {
    font-size: 1.7em;
    margin-bottom: 20px;
}

.section-two-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
}

.image-one, .image-two, .image-three, .image-four, .image-five {
    padding-top: 250px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 220px;
    border-radius: 15px;
    margin-left: 15px;
}

.image-one {
    background: url("https://mediaim.expedia.com/destination/9/5c20afe6e6bb2b8995e3c02518dab860.jpg") no-repeat center center/cover;
    background-color: #0000001d;
    background-blend-mode:color-burn;
    
}

.image-two {
    background: url("assets/image1.jpeg") no-repeat center center/cover;
    background-color: #00000031;
    background-blend-mode:color-burn;
    
}

.image-three {
    background: url("https://images.trvl-media.com/lodging/32000000/31850000/31846200/31846145/a39bd98b.jpg") no-repeat center center/cover;
    background-color: #00000031;
    background-blend-mode:color-burn;
    
}

.image-four {
    background: url("https://images.trvl-media.com/lodging/19000000/18780000/18772500/18772459/f850252c.jpg") no-repeat center center/cover;
    background-color: #00000031;
    background-blend-mode:color-burn;
    
}

.image-five {
    background: url("https://images.trvl-media.com/lodging/34000000/33560000/33551800/33551765/530965df.jpg") no-repeat center center/cover;
    background-color: #00000031;
    background-blend-mode:color-burn;
    
}

.section-one-images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
}

.section-one-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.section-one-card img {
    width: 275px;
    border-radius: 15px 15px 0 0;
    border: 1px solid #666;
}

.section-one-card p {
    padding: 0 0 5px 10px;
}

h1 span{
    font-weight: 400;
    font-size: 0.6em;
}

.section-three-section-one-card{
    display: flex;
    /* width: 90%; */
    justify-content: space-between;
}

.card3{
margin-right: 25px;
}
.card3 img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.line1{
    font-size: 12px;
}
.line1 span{
    background-color: #227950;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
}
.line1 small{
    font-size: 12px;
    color: #333;
}
.line1{
    color: #333;
}

.line2{
    font-weight: bold;
    width: 270px;
}